.idea/
.m2/
.DS_Store
dist/
target/
jaxb-tck/build/XMLB-TCK/
jaxb-tck/build/build.properties
jaxb-tck/build/make.properties
jaxb-tck-build
*.iml
checker.jar
jakarta.activation-api.jar
jaxb-ri*
latest-glassfish.zip
xml-binding-tck
glassfish7/
JAXB_REPORT
batch-multiJVM/
jaxbtck-results*
results*
